 
  #sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    background: #032946;
    right: -260px;
    transition: all 250ms linear;
    
  }
  
  #sidebar.active {
    right: 0px;
  
  }
  
  #sidebar ul li {
    color: #032946;
    border-radius: 30px;
    padding: auto;
    text-align: center;
  }
  
  
  #sidebar .toggle-btn {
    position: absolute;
    right: 300px;
    top: 10px;
    cursor: pointer;
    margin-right: -20px;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    height: 42px;
    text-align: center;
    font-size: 25px;
    border: 2px solid whitesmoke;

  }

  .imgSidebar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    margin-left: 5%;
  }
