.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.boton {
  background: #032946;
  width:400px;
  height: 50px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 6px 5px 24px #eee7e7;
  -moz-box-shadow: 6px 5px 24px #eee7e7;
  box-shadow: 6px 5px 24px #eee7e7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  color: whitesmoke;
}
  .boton:hover {
    background-color: #144366;
    color: #eee7e7;
  }
.menu {
    background: #032946;
    width: 239px;
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: whitesmoke;
    border-radius: 10px;
    border-color: white;
    margin-left: 10px;
    margin-bottom: 10px;

  }
.menu:hover {
    background-color: #144366;
    color: whitesmoke;
  }
#persona {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: whitesmoke;
    text-align: center;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 6px 5px 24px #eee7e7;
    -moz-box-shadow: 6px 5px 24px #eee7e7;
    box-shadow: 6px 5px 24px #eee7e7;
    margin-bottom: 30px;
}
.seleccion {
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 6px 5px 24px #eee7e7;
   -moz-box-shadow: 6px 5px 24px #eee7e7;
   box-shadow: 6px 5px 24px #eee7e7;
   margin:5px;
   cursor: pointer;
}

.busca {
    margin-top: 0px;
}

.busca input {
  height: 60px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-shadow: 1px 1px 1px grey;
  width: 30%;
  display: flex;
  margin:0px 500px 0px 500px;
  
}

.slide {
  max-width: 50%;
  max-height: 50%;
  margin-left: 15px;
  float: right;
}

#mensajeOk {
  opacity: 1;
  transition: opacity 20s;
}

#mensajeOk.fade {
  opacity: 0;
}

.alert2{
  position: fixed;
  top:30px;
  width: 50%;
  left: 50%;
  height: 35px;
  transform: translate(-50%, 0);
  font-size: x-large;
  text-align: center;
}

.botModal {
  background: #9da9b3;
  width:120px;
  height: 30px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  color: whitesmoke;
}
  .botModal:hover {
    background-color: #b0b9c0;
    color: #ffffff;
  }
